{% extends "exploree/base.html" %}

{% block content %}

<body>
    <div class="gridBox">
        

        <div class="cards">
            <!-- This would be a loop based on whats generated -->
            <div class="card">
                <div class="card-head">

                    <h5 style="float:right;">Food</h5>
                    {% load static %}
                    <a href="food">
                        <img src="{% static "Exploree/images/Food.jpg" %}" alt="Food Image">
                    </a>
                </div>

                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, culpa quas. Esse deleniti rem ab totam
                        commodi quidem. Esse, nesciunt voluptatem praesentium voluptatibus minima eius omnis distinctio id
                        est cumque.</p>

                </div>
            </div>

            <div class="card">
                <div class="card-head">

                    <h5 style="float:right;"></h5>
                    {% load static %}
                    <a href="activities">
                        <img src="{% static "Exploree/images/Food.jpg" %}" alt="Food Image">
                    </a>
                </div>

                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, culpa quas. Esse deleniti rem ab totam
                        commodi quidem. Esse, nesciunt voluptatem praesentium voluptatibus minima eius omnis distinctio id
                        est cumque.</p>

                </div>
            </div>



        </div>
    </div>

</body>

{% endblock content %}