{% extends "exploree/base.html" %}

{% block content %}

<body>
    <div class="card-columns" style="margin: 3%">

        {% for x in titles %}

            <div class="card">
                <div class="card-header">{{ x }}</div>

                <div class="card-body">
                    <a href="/{{ x }}">
                        {% load static %}
                        <div class="card-img-top">
                            <img src="{% static 'Exploree/images/' %}{{ x }}.jpg" alt=" {{ x }} " style="width: inherit; height: 210px; ">
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>
    </body>

{% endblock content %}